{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/style1.css') }}">
{% endblock %}
{% block title %}Galleries d'images - HALINH Rennes
{% endblock %}

{% block body %}
	<div class="container my-5 ">
		<h1 class="ml3">Galerie réalisations</h1>

		<div class="row">
			<div class="col-12 col-md-4">
				<div class="col my-2">
					<img src="{{ asset('img/halinh.jpg') }}" class="img-fluid" alt="image-realisation1" data-bs-toggle="modal" data-bs-target="#Modal1">
				</div>
			</div>
			<div class="modal fade" id="Modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog  modal-lg">
					<div class="modal-content">
						<div class="modal-body ">
							<img src="{{ asset('img/halinh.jpg') }}" class="img-fluid" alt="image-realisation1" data-bs-toggle="modal" data-bs-target="#exampleModal">
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-4">
				<div class="col my-2">
					<img src="{{ asset('img/halinh1.jpg') }}" class="img-fluid" alt="image-realisation2" data-bs-toggle="modal" data-bs-target="#Modal2">
				</div>
			</div>
			<div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog  modal-lg">
					<div class="modal-content">
						<div class="modal-body ">
							<img src="{{ asset('img/halinh1.jpg') }}" class="img-fluid" alt="image-realisation2" data-bs-toggle="modal" data-bs-target="#exampleModal">
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-4">
				<div class="col my-2">
					<img src="{{ asset('img/halinh2.jpg') }}" class="img-fluid" alt="image-realisation3" data-bs-toggle="modal" data-bs-target="#Modal3">
				</div>
			</div>
			<div class="modal fade" id="Modal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog  modal-lg">
					<div class="modal-content">
						<div class="modal-body ">
							<img src="{{ asset('img/halinh2.jpg') }}" class="img-fluid" alt="image-realisation3" data-bs-toggle="modal" data-bs-target="#exampleModal">
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-4">
				<div class="col my-2">
					<img src="{{ asset('img/halinh3.jpg') }}" class="img-fluid" alt="image-realisation4" data-bs-toggle="modal" data-bs-target="#Modal4">
				</div>
			</div>
			<div class="modal fade" id="Modal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog  modal-lg">
					<div class="modal-content">
						<div class="modal-body ">
							<img src="{{ asset('img/halinh3.jpg') }}" class="img-fluid" alt="image-realisation4" data-bs-toggle="modal" data-bs-target="#exampleModal">
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-4">
				<div class="col my-2">
					<img src="{{ asset('img/halinh5.jpg') }}" class="img-fluid" alt="image-realisation5" data-bs-toggle="modal" data-bs-target="#Modal5">
				</div>
			</div>
			<div class="modal fade" id="Modal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog  modal-lg">
					<div class="modal-content">
						<div class="modal-body ">
							<img src="{{ asset('img/halinh5.jpg') }}" class="img-fluid" alt="image-realisation5" data-bs-toggle="modal" data-bs-target="#exampleModal">
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-4">
				<div class="col my-2">
					<img src="{{ asset('img/halinh4.jpg') }}" class="img-fluid" alt="image-realisation6" data-bs-toggle="modal" data-bs-target="#Modal6">
				</div>
			</div>
			<div class="modal fade" id="Modal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog  modal-lg">
					<div class="modal-content">
						<div class="modal-body ">
							<img src="{{ asset('img/halinh4.jpg') }}" class="img-fluid" alt="image-realisation6" data-bs-toggle="modal" data-bs-target="#exampleModal">
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-4">
				<div class="col my-2">
					<img src="{{ asset('img/halinh6.jpg') }}" class="img-fluid" alt="image-realisation7" data-bs-toggle="modal" data-bs-target="#Modal7">
				</div>
			</div>
			<div class="modal fade" id="Modal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog  modal-lg">
					<div class="modal-content">
						<div class="modal-body ">
							<img src="{{ asset('img/halinh6.jpg') }}" class="img-fluid" alt="image-realisation7" data-bs-toggle="modal" data-bs-target="#exampleModal">
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-4">
				<div class="col my-2">
					<img src="{{ asset('img/halinh7.jpg') }}" class="img-fluid" alt="image-realisation8" data-bs-toggle="modal" data-bs-target="#Modal8">
				</div>
			</div>
			<div class="modal fade" id="Modal8" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog  modal-lg">
					<div class="modal-content">
						<div class="modal-body ">
							<img src="{{ asset('img/halinh7.jpg') }}" class="img-fluid" alt="image-realisation8" data-bs-toggle="modal" data-bs-target="#exampleModal">
						</div>
					</div>
				</div>
			</div>

			<div class="col-12 col-md-4">
				<div class="col my-2">
					<img src="{{ asset('img/halinh8.jpg') }}" class="img-fluid" alt="image-realisation9" data-bs-toggle="modal" data-bs-target="#Modal9">
				</div>
			</div>
			<div class="modal fade" id="Modal9" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog  modal-lg">
					<div class="modal-content">
						<div class="modal-body ">
							<img src="{{ asset('img/halinh8.jpg') }}" class="img-fluid" alt="image-realisation8" data-bs-toggle="modal" data-bs-target="#exampleModal">
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>


{% endblock %}
